---
# Handler for the webtier: handlers are called by other plays.
# See http://docs.ansible.com/playbooks_intro.html for more information about handlers.

- name: restart iptables
  service: name=iptables state=restarted
# cambiamos el handlers por este ya que estamos utilizando el apache2 como servidor
- name: restart apache2
      service: name=apache2 state=restarted
